PORT=5000

#database
MONGO_URI=databse connection liink

#jwt
JWT_SECRET=your secreat

#Brevo used for OTP and pass email
EMAIL_KEY=your brevo email-key
EMAIL_FROM=your brevo mail id
EMAIL_NAME=Visitor Pass

#Twilio SMS
TWILIO_ACCOUNT_SID=ACxxxxxxxx
TWILIO_AUTH_TOKEN=xxxxxxxx
TWILIO_PHONE_NUMBER=+1234567890