@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: white;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}

#reader video {
  border-radius: 12px;
}

#reader {
  color: black;
}

#reader button {
  border-radius: 10px;
}
